<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link"><button class="btn btn-primary">Home</button></a></div>
        <div class="nav-item"><a asp-controller="Home" asp-action="UserRecommendations" class="nav-link"><button class="btn btn-primary">View User Recommendations</button></a></div>
        <div class="nav-item"><a asp-controller="Home" asp-action="AddRecommendation" class="nav-link"><button class="btn btn-primary">Add A Recommendation</button></a></div>
    </nav>
    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            <div>&copy; 2021 - Restaurants</div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
