@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<string>

<div class="container">
    <h3 class="text-center">Welcome</h3>
    <p class="text-center">These are the top 5 restaurant recommendations for Provo, Utah, as determined by me.</p>
    <ul class="list-unstyled">
        @foreach (string s in Model)
        {
        <li>@s</li>   
        }
    </ul>
</div>
