@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Recommendations";
}

@using Restaurants.Models;
@model IEnumerable<UserRecommendation>;

<div class="container">
    @if ((bool)ViewData["Added"] == true)
    {
        <h3>Thank you for your addition.</h3>
        <p>View all other user's recommendations below.</p>
        <br /><br />
    }

    <table class="container table">
        <thead class="col-12">
            <tr class="row">
                <th class="col-4 text-center">Submitted By</th>
                <th class="col-3 text-center">Name</th>
                <th class="col-3 text-center">Favorite Dish</th>
                <th class="col-2 text-center">Phone Number</th>
            </tr>
        </thead>
        <tbody class="col-12">
            @foreach (UserRecommendation r in Model)
            {
                <tr class="row">
                    <td class="col-4">@r.Submitter</td>
                    <td class="col-3">@r.Name</td>
                    <td class="col-3">@r.FavDish</td>
                    <td class="col-2">@r.PhoneNumber</td>
                </tr>

            }

        </tbody>
    </table>
</div>